@import '../colors';

.AccountPart {
  flex-direction: column;
  justify-content: flex-start;

  .Accordion {
    width: calc(100% - 30px);
    margin-bottom: 5px;
    font-family: 'Bricolage Grotesque', sans-serif;

    .AccordionBox {
      background-color: $transparent-green;

      .AccordionTitle{
        display: flex;
        flex-direction: row-reverse;

        .TitleBox{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    .Detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
