@import '../colors';

.AccountPart {
  flex-direction: column;
  justify-content: flex-start;

  .Accordion {
    width: calc(100% - 30px);
    margin-bottom: 5px;
    font-family: 'Bricolage Grotesque', sans-serif;

    .AccordionBox {
      background-color: $transparent-blue;

      .AccordionTitle {
        display: flex;
        flex-direction: row-reverse;

        .TitleBox {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .TitleTotal {
            padding-right: 2px;
          }
        }
      }
    }

    .Detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 2px;
      padding-left: 10px;

      margin: 2px 0px;

      .DName {
        max-width: 100px;
      }

      &:hover {
        cursor: pointer;
        background-color: $transparent-blue;
        border-radius: 5px;
      }
    }
  }
  .MuiAccordionDetails-root {
    padding: 0px 16px 5px;
  }
  .MuiAccordionSummary-root.Mui-expanded,
  .MuiAccordionSummary-content.Mui-expanded {
    min-height: 40px;
    margin: 0;
    line-height: 40px;
  }
}
