$primary-yellow: #ffa500;
$primary-green: #8dd6d4;
$primary-blue: #90b7dd;
$primary-pink: #d875aa;
$primary-purple: #c427e8;

$secondary-yellow: #ffda94;
$secondary-green: #cef1f1;
$secondary-blue: #90b7dd;
$secondary-pink: #cca2b9;
$secondary-purple: #db92ec;

$transparent-yellow: #ffa6002b;
$transparent-green: #8dd6d426;
$transparent-blue: #90b7dd4a;
$transparent-pink: #d875aa15;
$transparent-purple: #c527e82b;

$background-color: #fcfaf4;
$background-pink: #ede5ea;
$background-green: #e0ece9;
$background-blue: #e4eef9;

$warning-red: #d32f2f;

$txn-green: #8dc5a9;
$txn-red: #e78181;
$txn-blue: #2471a3;

$txn-secondary-green: #73c6b6;
$txn-secondary-red: #f1948a;
$txn-secondary-blue: #7fb3d5;
