@import './colors';

.HomePage {
  .MainTheme {
    width: 100vw;
    height: 100vh;
    background-color: $secondary-pink;
    display: flex;
    flex-direction: row;

    .Icon {
      padding-top: 20px;
      height: 20px;
    }
    .Display {
      width: 100vw;
      height: 100vh;
      background-color: $background-color;
      border-radius: 7px 0 0 7px;

      h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        color: $primary-pink;
        margin: 10px 0;
        font-size: 25px;
      }
    }

    &.Account {
      background-color: $secondary-blue;

      h1 {
        color: $primary-blue;
      }
    }

    &.Budget {
      background-color: $secondary-yellow;

      h1 {
        color: $primary-yellow;
      }
    }

    &.Transactions {
      background-color: $secondary-purple;

      h1 {
        color: $primary-purple;
      }
    }

    &.CategoriesAndTags {
      background-color: $secondary-green;

      h1 {
        color: $primary-green;
      }
    }
  }
}
